@charset "UTF-8";
/* CSS Document */
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

#wrapper {
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
	padding-top: 20px;
	align-content: center;
}

.banner > img {
    margin: auto;
}

header {
	text-align: center;
}

h1 {
	border-bottom: 1px solid;
}

h2 {
	color:#AE4B4D;
}

article {
	text-align: left;
	padding-top: 10px;
	align-content: center;
}

a:link {
	color:#00A8B0;
	background-color:transparent;
	text-decoration:none;
}

a:visited {
	color:#43635F;
	background-color:transparent;
	text-decoration:none;
}

a:hover {
	color:#FFC341;
	background-color:transparent; 
	text-decoration:underline;
}